body {
    margin: 0;
}

a img {
    border: 0;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 1.5em !important;
    }

    a {
        font-size: 1em !important;
    }

    span {
        font-size: 1em !important;
    }
}

::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}

::selection {
    background-color: #6ab344;
    color: #fff;
}

.image-logo {
    height: auto;
    width: 50px;
    position: relative !important;
}

.android-header {
    overflow: visible;
    background-color: white;
}

.android-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}

.mdl-layout__header-row {
    height: 56px;
    width: 100vw;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation-container {
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list {
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.android-search-box.is-focused + .navigation-container {
    opacity: 0;
    width: 100px;
}

.navigation-list .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

.navigation-list .mdl-navigation__link:hover {
    border-bottom: 4px solid #8bc34a;
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}

.android-drawer .image-logo {
    position: absolute;
    bottom: 16px;
}

.android-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
}

.android-customized-section-text p {
    padding-top: 16px;
}

.android-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
}

.android-footer a:hover {
    color: #8bc34a;
}

.android-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
}

.main-title {
    font-family: 'Audiowide', Arial, sans-serif;
    color: black;
    position: absolute;
    left: 0;
    font-size: large;
}

.login-button {
    margin-left: 50px;
}